@tailwind base;
@tailwind components;
@tailwind utilities;

@import "theme.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

#blog-content h1,
#blog-content h2,
#blog-content h3,
#blog-content h4,
#blog-content h5,
#blog-content h6
{
  font-family: CalSans-SemiBold,sans-serif;
}

.dark #blog-content h1,
.dark #blog-content h2,
.dark #blog-content h3,
.dark #blog-content h4,
.dark #blog-content h5,
.dark #blog-content h6,
.dark #blog-content p,
.dark #blog-content ul,
.dark #blog-content li
{
  color: #fff;
}

.light #blog-content h1,
.light #blog-content h2,
.light #blog-content h3,
.light #blog-content h4,
.light #blog-content h5,
.light #blog-content h6
{
  color: #131740
}

.dark #blog-content p,
.dark #blog-content ul,
.dark #blog-content li
{
  color: #A1A2B3
}

.light #blog-content p,
.light #blog-content ul,
.light #blog-content li
{
  color: #5A5D79
}


#blog-content h1 {
  font-size: 2em;
  line-height: 2em;
  margin-bottom: 0.5em;
  margin-top: 2em;
}

#blog-content h2 {
  font-size: 1.8em;
  margin-bottom: 0.5em;
  margin-top: 2em;
}

#blog-content h3 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

#blog-content h4 {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

#blog-content h5 {
  font-size: 1em;
  margin-bottom: 0.5em;
}

#blog-content h6 {
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

#blog-content p {
  margin-bottom: 1em;
}

#blog-content p.wp-caption-text {
  color: #855dfe;
  font-family: CalSans-SemiBold,sans-serif;
  font-weight: 100;
  font-size: 14px;
  padding-top: 10px;
}

#blog-content ul {
  margin-bottom: 1em;
}

#blog-content ul,
#blog-content ol {
  padding-left: 20px;
}

#blog-content ol {
  margin-bottom: 1em;
}

#blog-content li {
  margin-bottom: 0.5em;
}

#blog-content a {
  color: #855dfe;
  text-decoration: none;
  font-weight: 600;
}

#blog-content a:hover {
  text-decoration: underline;
}

#blog-content ul {
  list-style-type: disc;
}

#blog-content ol {
  list-style-type: decimal;
}

#blog-content .aligncenter {
  margin: 0 auto;
}

#blog-content .wp-caption {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}
