# Disable directory indexes and MultiViews
Options -Indexes -MultiViews

# Prevent mod_dir appending a slash to directory requests
DirectorySlash Off

RewriteEngine On

# Rewrite /foo to /foo.html if it exists
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI}.html -f
RewriteRule !\.\w{2,4}$ %{REQUEST_URI}.html [L]

# Otherwise, rewrite /foo to /foo/index.html if it exists
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI}/index.html -f
RewriteRule !\.\w{2,4}$ %{REQUEST_URI}/index.html [L]

# Redirects 301 (SEO)
RewriteEngine On
RewriteRule ^guia-completo-sobre-livros-na-amazon$ /blog/guia-completo-sobre-livros-na-amazon [R=301,L]
RewriteRule ^os-principais-autores-do-realismo$ /blog/os-principais-autores-do-realismo [R=301,L]
RewriteRule ^os-principais-autores-do-romantismo$ /blog/os-principais-autores-do-romantismo [R=301,L]
RewriteRule ^5-livros-para-presentear-sua-mae$ /blog/5-livros-para-presentear-sua-mae [R=301,L]
RewriteRule ^5-livros-para-presentear-sua-namorada$ /blog/5-livros-para-presentear-sua-namorada [R=301,L]
RewriteRule ^explorando-o-mundo-dos-carros-atraves-da-literatura-10-leituras-imperdiveis-para-os-entusiastas-automotivos$ /blog/explorando-o-mundo-dos-carros-atraves-da-literatura-10-leituras-imperdiveis-para-os-entusiastas-automotivos [R=301,L]
RewriteRule ^resumo-do-livro-o-menino-que-descobriu-o-vento$ /blog/resumo-do-livro-o-menino-que-descobriu-o-vento [R=301,L]
RewriteRule ^a-fascinante-tradicao-da-literatura-de-cordel-uma-jornada-pelos-versos-do-sertao$ /blog/a-fascinante-tradicao-da-literatura-de-cordel-uma-jornada-pelos-versos-do-sertao [R=301,L]
RewriteRule ^o-encanto-das-historia-infantil$ /blog/o-encanto-das-historia-infantil [R=301,L]
RewriteRule ^personagens-de-moby-dick-uma-analise-profunda$ /blog/personagens-de-moby-dick-uma-analise-profunda [R=301,L]
RewriteRule ^brasil-e-destaque-na-feira-do-livro-de-havana$ /blog/brasil-e-destaque-na-feira-do-livro-de-havana [R=301,L]
RewriteRule ^qual-era-o-tamanho-da-moby-dick$ /blog/qual-era-o-tamanho-da-moby-dick [R=301,L]
RewriteRule ^resumo-do-livro-pinoquio$ /blog/resumo-do-livro-pinoquio [R=301,L]
RewriteRule ^descubra-sua-proxima-leitura-com-este-aplicativo-gratuito$ /blog/descubra-sua-proxima-leitura-com-este-aplicativo-gratuito [R=301,L]
RewriteRule ^quais-sao-os-3-tipos-de-resumo-de-livros$ /blog/quais-sao-os-3-tipos-de-resumo-de-livros [R=301,L]
RewriteRule ^os-6-livros-infantis-mais-vendidos-no-mundo-uma-viagem-pela-imaginacao-e-aventura$ /blog/os-6-livros-infantis-mais-vendidos-no-mundo-uma-viagem-pela-imaginacao-e-aventura [R=301,L]
RewriteRule ^momentos-na-historia-mundial-perdas-tragicas-de-livros$ /blog/momentos-na-historia-mundial-perdas-tragicas-de-livros [R=301,L]
RewriteRule ^resumo-do-livro-peter-pan$ /blog/resumo-do-livro-peter-pan [R=301,L]
RewriteRule ^resumo-do-livro-branca-de-neve-e-os-sete-anoes$ /blog/resumo-do-livro-branca-de-neve-e-os-sete-anoes [R=301,L]
RewriteRule ^resumo-do-livro-o-patinho-feio$ /blog/resumo-do-livro-o-patinho-feio [R=301,L]
RewriteRule ^resumo-do-livro-os-tres-porquinhos$ /blog/resumo-do-livro-os-tres-porquinhos [R=301,L]
RewriteRule ^resumo-do-livro-quarto-de-despejo$ /blog/resumo-do-livro-quarto-de-despejo [R=301,L]
RewriteRule ^resumo-do-livro-a-volta-ao-mundo-em-80-dias$ /blog/resumo-do-livro-a-volta-ao-mundo-em-80-dias [R=301,L]
RewriteRule ^resumo-do-livro-viagem-ao-centro-da-terra$ /blog/resumo-do-livro-viagem-ao-centro-da-terra [R=301,L]
RewriteRule ^resumo-do-livro-o-sol-e-para-todos$ /blog/resumo-do-livro-o-sol-e-para-todos [R=301,L]
RewriteRule ^resumo-do-livro-o-silmarillion$ /blog/resumo-do-livro-o-silmarillion [R=301,L]
RewriteRule ^resumo-do-livro-o-hobbit$ /blog/resumo-do-livro-o-hobbit [R=301,L]
RewriteRule ^resumo-do-livro-o-grande-desafio$ /blog/resumo-do-livro-o-grande-desafio [R=301,L]
RewriteRule ^fuvest-2024-desbravando-os-livros-obrigatorios$ /blog/fuvest-2024-desbravando-os-livros-obrigatorios [R=301,L]
RewriteRule ^os-10-livros-em-dominio-publico-mais-acessados-conheca-e-baixe-agora$ /blog/os-10-livros-em-dominio-publico-mais-acessados-conheca-e-baixe-agora [R=301,L]
RewriteRule ^resumo-do-livro-angustia$ /blog/resumo-do-livro-angustia [R=301,L]
RewriteRule ^como-baixar-livros-eu-ensino$ /blog/como-baixar-livros-eu-ensino [R=301,L]
RewriteRule ^resumo-do-livro-o-auto-da-compadecida$ /blog/resumo-do-livro-o-auto-da-compadecida [R=301,L]
RewriteRule ^resumo-do-livro-o-senhor-dos-aneis-o-retorno-do-rei$ /blog/resumo-do-livro-o-senhor-dos-aneis-o-retorno-do-rei [R=301,L]
RewriteRule ^resumo-do-livro-o-senhor-dos-aneis-as-duas-torres$ /blog/resumo-do-livro-o-senhor-dos-aneis-as-duas-torres [R=301,L]
RewriteRule ^resumo-da-historia-a-saga-de-harry-potter-resumida$ /blog/resumo-da-historia-a-saga-de-harry-potter-resumida [R=301,L]
RewriteRule ^resumo-do-livro-harry-potter-e-as-reliquias-da-morte$ /blog/resumo-do-livro-harry-potter-e-as-reliquias-da-morte [R=301,L]
RewriteRule ^resumo-do-livro-harry-potter-e-o-enigma-do-principe$ /blog/resumo-do-livro-harry-potter-e-o-enigma-do-principe [R=301,L]
RewriteRule ^resumo-do-livro-harry-potter-e-a-ordem-da-fenix$ /blog/resumo-do-livro-harry-potter-e-a-ordem-da-fenix [R=301,L]
RewriteRule ^resumo-do-livro-harry-potter-e-o-calice-de-fogo$ /blog/resumo-do-livro-harry-potter-e-o-calice-de-fogo [R=301,L]
RewriteRule ^resumo-do-livro-harry-potter-e-o-prisioneiro-de-azkaban$ /blog/resumo-do-livro-harry-potter-e-o-prisioneiro-de-azkaban [R=301,L]
RewriteRule ^resumo-do-livro-harry-potter-e-a-camara-secreta$ /blog/resumo-do-livro-harry-potter-e-a-camara-secreta [R=301,L]
RewriteRule ^resumo-do-livro-quincas-borba$ /blog/resumo-do-livro-quincas-borba [R=301,L]
RewriteRule ^resumo-do-livro-marilia-de-dirceu$ /blog/resumo-do-livro-marilia-de-dirceu [R=301,L]
RewriteRule ^resumo-do-livro-as-viagens-de-gulliver$ /blog/resumo-do-livro-as-viagens-de-gulliver [R=301,L]
RewriteRule ^resumo-do-livro-a-lei-da-atracao$ /blog/resumo-do-livro-a-lei-da-atracao [R=301,L]
RewriteRule ^conheca-5-livros-obrigatorios-que-transformarao-sua-vida$ /blog/conheca-5-livros-obrigatorios-que-transformarao-sua-vida [R=301,L]
RewriteRule ^conheca-a-fascinante-historia-dos-livros-da-argila-a-era-digital$ /blog/conheca-a-fascinante-historia-dos-livros-da-argila-a-era-digital [R=301,L]
RewriteRule ^conheca-10-livros-em-dominio-publico-que-encantam-geracoes$ /blog/conheca-10-livros-em-dominio-publico-que-encantam-geracoes [R=301,L]
RewriteRule ^conheca-5-livros-da-africa-que-enaltecem-sua-riqueza-literaria$ /blog/conheca-5-livros-da-africa-que-enaltecem-sua-riqueza-literaria [R=301,L]
RewriteRule ^conheca-os-5-melhores-livros-de-augusto-cury$ /blog/conheca-os-5-melhores-livros-de-augusto-cury [R=301,L]
RewriteRule ^conheca-dicas-para-comprar-livros-baratos-e-expandir-sua-biblioteca-literaria$ /blog/conheca-dicas-para-comprar-livros-baratos-e-expandir-sua-biblioteca-literaria [R=301,L]
RewriteRule ^conheca-a-arte-de-como-fazer-um-resumo-de-livros-com-maestria$ /blog/conheca-a-arte-de-como-fazer-um-resumo-de-livros-com-maestria [R=301,L]
RewriteRule ^livros-de-ficcao-cientifica-conheca-sete-universos-fascinantes$ /blog/livros-de-ficcao-cientifica-conheca-sete-universos-fascinantes [R=301,L]
RewriteRule ^5-livros-de-fantasia$ /blog/5-livros-de-fantasia [R=301,L]
RewriteRule ^descubra-a-transformacao-pessoal-7-livros-de-autoajuda$ /blog/descubra-a-transformacao-pessoal-7-livros-de-autoajuda [R=301,L]
RewriteRule ^conheca-7-livros-sobre-inteligencia-artificial-para-expandir-seu-conhecimento$ /blog/conheca-7-livros-sobre-inteligencia-artificial-para-expandir-seu-conhecimento [R=301,L]
RewriteRule ^conheca-os-7-melhores-livros-de-clarice-lispector$ /blog/conheca-os-7-melhores-livros-de-clarice-lispector [R=301,L]
RewriteRule ^resumo-do-livro-o-guarani$ /blog/resumo-do-livro-o-guarani [R=301,L]
RewriteRule ^resumo-do-livro-o-menino-do-pijama-listrado$ /blog/resumo-do-livro-o-menino-do-pijama-listrado [R=301,L]
RewriteRule ^resumo-do-livro-bhagavad-gita$ /blog/resumo-do-livro-bhagavad-gita [R=301,L]
RewriteRule ^resumo-do-livro-a-paciente-silenciosa$ /blog/resumo-do-livro-a-paciente-silenciosa [R=301,L]
RewriteRule ^conheca-os-5-melhores-livros-de-stephen-king-mestres-do-terror$ /blog/conheca-os-5-melhores-livros-de-stephen-king-mestres-do-terror [R=301,L]
RewriteRule ^conheca-os-5-melhores-livros-de-machado-de-assis$ /blog/conheca-os-5-melhores-livros-de-machado-de-assis [R=301,L]
RewriteRule ^resumo-do-livro-o-principe-maquiavel$ /blog/resumo-do-livro-o-principe-maquiavel [R=301,L]
RewriteRule ^resumo-do-livro-o-conde-de-monte-cristo$ /blog/resumo-do-livro-o-conde-de-monte-cristo [R=301,L]
RewriteRule ^resumo-do-livro-o-iluminado$ /blog/resumo-do-livro-o-iluminado [R=301,L]
RewriteRule ^os-5-melhores-livros-de-suspense-que-vao-prender-sua-atencao$ /blog/os-5-melhores-livros-de-suspense-que-vao-prender-sua-atencao [R=301,L]
RewriteRule ^conheca-os-5-melhores-livros-de-terror$ /blog/conheca-os-5-melhores-livros-de-terror [R=301,L]
RewriteRule ^resumo-do-livro-maus$ /blog/resumo-do-livro-maus [R=301,L]
RewriteRule ^resumo-do-livro-a-ilha-perdida$ /blog/resumo-do-livro-a-ilha-perdida [R=301,L]
RewriteRule ^resumo-do-livro-o-medico-e-o-monstro$ /blog/resumo-do-livro-o-medico-e-o-monstro [R=301,L]
RewriteRule ^resumo-do-livro-a-ilha-do-tesouro$ /blog/resumo-do-livro-a-ilha-do-tesouro [R=301,L]
RewriteRule ^resumo-do-livro-a-escrava-isaura$ /blog/resumo-do-livro-a-escrava-isaura [R=301,L]
RewriteRule ^resumo-do-livro-o-cortico$ /blog/resumo-do-livro-o-cortico [R=301,L]
RewriteRule ^resumo-do-livro-o-alienista$ /blog/resumo-do-livro-o-alienista [R=301,L]
RewriteRule ^resumo-do-livro-frankenstein$ /blog/resumo-do-livro-frankenstein [R=301,L]
RewriteRule ^crime-e-castigo$ /blog/crime-e-castigo [R=301,L]
RewriteRule ^resumo-do-livro-a-cartomante$ /blog/resumo-do-livro-a-cartomante [R=301,L]
RewriteRule ^resumo-do-livro-mensagem-para-voce$ /blog/resumo-do-livro-mensagem-para-voce [R=301,L]
RewriteRule ^resumo-do-livro-estrelas-tortas$ /blog/resumo-do-livro-estrelas-tortas [R=301,L]
RewriteRule ^resumo-do-livro-as-cores-da-escravidao$ /blog/resumo-do-livro-as-cores-da-escravidao [R=301,L]
RewriteRule ^resumo-do-livro-o-quinze$ /blog/resumo-do-livro-o-quinze [R=301,L]
RewriteRule ^resumo-do-livro-o-senhor-dos-aneis-a-sociedade-do-anel$ /blog/resumo-do-livro-o-senhor-dos-aneis-a-sociedade-do-anel [R=301,L]
RewriteRule ^resumo-do-livro-diario-de-um-banana$ /blog/resumo-do-livro-diario-de-um-banana [R=301,L]
RewriteRule ^resumo-do-livro-laranja-mecanica$ /blog/resumo-do-livro-laranja-mecanica [R=301,L]
RewriteRule ^resumo-do-livro-cem-anos-de-solidao$ /blog/resumo-do-livro-cem-anos-de-solidao [R=301,L]
RewriteRule ^resumo-do-livro-harry-potter-e-a-pedra-filosofal$ /blog/resumo-do-livro-harry-potter-e-a-pedra-filosofal [R=301,L]
RewriteRule ^resumo-do-livro-o-alquimista$ /blog/resumo-do-livro-o-alquimista [R=301,L]
RewriteRule ^resumo-do-livro-o-grande-gatsby$ /blog/resumo-do-livro-o-grande-gatsby [R=301,L]
RewriteRule ^resumo-do-livro-as-cronicas-de-narnia$ /blog/resumo-do-livro-as-cronicas-de-narnia [R=301,L]
RewriteRule ^resumo-do-livro-as-vantagens-de-ser-invisivel$ /blog/resumo-do-livro-as-vantagens-de-ser-invisivel [R=301,L]
RewriteRule ^resumo-do-livro-a-menina-que-roubava-livros$ /blog/resumo-do-livro-a-menina-que-roubava-livros [R=301,L]
RewriteRule ^resumo-do-livro-a-cor-purpura$ /blog/resumo-do-livro-a-cor-purpura [R=301,L]
RewriteRule ^resumo-do-livro-nada-e-por-acaso$ /blog/resumo-do-livro-nada-e-por-acaso [R=301,L]
RewriteRule ^resumo-do-livro-o-livro-de-jeremias$ /blog/resumo-do-livro-o-livro-de-jeremias [R=301,L]
RewriteRule ^resumo-do-livro-a-arte-da-guerra$ /blog/resumo-do-livro-a-arte-da-guerra [R=301,L]
RewriteRule ^resumo-do-livro-memorias-postumas-de-bras-cubas$ /blog/resumo-do-livro-memorias-postumas-de-bras-cubas [R=301,L]
RewriteRule ^resumo-do-livro-o-poder-do-habito$ /blog/resumo-do-livro-o-poder-do-habito [R=301,L]
RewriteRule ^resumo-do-livro-as-armas-da-persuasao$ /blog/resumo-do-livro-as-armas-da-persuasao [R=301,L]
RewriteRule ^resumo-do-livro-moby-dick$ /blog/resumo-do-livro-moby-dick [R=301,L]
RewriteRule ^resumo-do-livro-a-metamorfose$ /blog/resumo-do-livro-a-metamorfose [R=301,L]
RewriteRule ^resumo-do-livro-fahrenheit-451$ /blog/resumo-do-livro-fahrenheit-451 [R=301,L]
RewriteRule ^resumo-do-livro-como-convencer-alguem-em-90-segundos$ /blog/resumo-do-livro-como-convencer-alguem-em-90-segundos [R=301,L]
RewriteRule ^resumo-do-livro-dom-casmurro$ /blog/resumo-do-livro-dom-casmurro [R=301,L]
RewriteRule ^resumo-do-livro-romeu-e-julieta$ /blog/resumo-do-livro-romeu-e-julieta [R=301,L]
RewriteRule ^resumo-do-livro-pai-rico-pai-pobre$ /blog/resumo-do-livro-pai-rico-pai-pobre [R=301,L]
RewriteRule ^resumo-do-livro-mais-esperto-que-o-diabo$ /blog/resumo-do-livro-mais-esperto-que-o-diabo [R=301,L]
RewriteRule ^resumo-do-livro-o-meu-pe-de-laranja-lima$ /blog/resumo-do-livro-o-meu-pe-de-laranja-lima [R=301,L]
RewriteRule ^resumo-do-livro-o-enigma-dos-dados$ /blog/resumo-do-livro-o-enigma-dos-dados [R=301,L]
RewriteRule ^resumo-do-livro-orgulho-e-preconceito$ /blog/resumo-do-livro-orgulho-e-preconceito [R=301,L]
RewriteRule ^resumo-do-livro-a-moreninha$ /blog/resumo-do-livro-a-moreninha [R=301,L]
RewriteRule ^resumo-do-livro-o-misterio-do-5-estrelas$ /blog/resumo-do-livro-o-misterio-do-5-estrelas [R=301,L]
RewriteRule ^resumo-do-livro-a-droga-da-obediencia$ /blog/resumo-do-livro-a-droga-da-obediencia [R=301,L]
RewriteRule ^resumo-do-livro-o-monge-e-o-executivo$ /blog/resumo-do-livro-o-monge-e-o-executivo [R=301,L]
RewriteRule ^resumo-do-livro-o-fogo-morto$ /blog/resumo-do-livro-o-fogo-morto [R=301,L]
RewriteRule ^resumo-do-livro-vidas-secas$ /blog/resumo-do-livro-vidas-secas [R=301,L]
RewriteRule ^resumo-do-livro-a-face-oculta$ /blog/resumo-do-livro-a-face-oculta [R=301,L]
RewriteRule ^resumo-do-livro-1984$ /blog/resumo-do-livro-1984 [R=301,L]
RewriteRule ^resumo-do-livro-o-diario-de-anne-frank$ /blog/resumo-do-livro-o-diario-de-anne-frank [R=301,L]
RewriteRule ^resumo-do-livro-os-axiomas-de-zurique$ /blog/resumo-do-livro-os-axiomas-de-zurique [R=301,L]
RewriteRule ^resumo-do-livro-a-revolucao-dos-bichos$ /blog/resumo-do-livro-a-revolucao-dos-bichos [R=301,L]
RewriteRule ^resumo-do-livro-o-primo-basilio$ /blog/resumo-do-livro-o-primo-basilio [R=301,L]
RewriteRule ^resumo-do-livro-alice-no-pais-das-maravilhas$ /blog/resumo-do-livro-alice-no-pais-das-maravilhas [R=301,L]
RewriteRule ^acoes-comuns-lucros-extraordinarios$ /blog/acoes-comuns-lucros-extraordinarios [R=301,L]
RewriteRule ^resumo-do-livro-o-investidor-inteligente$ /blog/resumo-do-livro-o-investidor-inteligente [R=301,L]
RewriteRule ^resumo-do-livro-iracema$ /blog/resumo-do-livro-iracema [R=301,L]
RewriteRule ^resumo-do-livro-a-culpa-e-das-estrelas$ /blog/resumo-do-livro-a-culpa-e-das-estrelas [R=301,L]
RewriteRule ^resumo-do-livro-dom-quixote$ /blog/resumo-do-livro-dom-quixote [R=301,L]
RewriteRule ^resumo-do-livro-os-miseraveis$ /blog/resumo-do-livro-os-miseraveis [R=301,L]
RewriteRule ^resumo-do-livro-extraordinario$ /blog/resumo-do-livro-extraordinario [R=301,L]
RewriteRule ^resumo-do-livro-eu-sou-malala$ /blog/resumo-do-livro-eu-sou-malala [R=301,L]
RewriteRule ^resumo-do-livro-o-pequeno-principe$ /blog/resumo-do-livro-o-pequeno-principe [R=301,L]

# Redirecionar todas as páginas 404 para /404
ErrorDocument 404 /404